


<h1>Hello</h1>
<a href="#" class="snipcart-checkout">Click here to checkout</a>

<div class="snipcart-summary">
    Number of items: <span class="snipcart-total-items"></span>
    Total price: <span class="snipcart-total-price"></span>
</div>


<a href="#"
    class="snipcart-add-item"
    data-item-id="2"
    data-item-name="Bacon"
    data-item-price="3.00"
    data-item-weight="20"
    data-item-url="/"
    data-item-description="Some fresh bacon">
        Buy bacon
</a>