<section id="wheel_accessories" class="text-center">
  <h4>Included Accessories</h4>
  <div class="row">
    <div class="col-xs-4 text-center">
      <h5>CORIMA wheelbags</h5>
      <%= image_tag 'corima_bag.jpg', class: 'img-responsive' %>
    </div>
    <div class="col-xs-4 text-center">
      <h5>CORIMA brake pads</h5>
      <%= image_tag '89-PatinCorima02_BLANC.jpg', class: 'img-responsive' %>
    </div>
    <div class="col-xs-4 text-center">
      <h5>Titanium/Carbon skewers</h5>
      <%= image_tag 'blocagenew.jpg', class: 'img-responsive' %>
    </div>
  </div>
</section>