<section id="cycling-ceramic">
  <div class="container">
    <div class="row">
      <div class="col-sm-4 col-md-2 text-center col-lg-offset-1">
        
        <%= image_tag 'cycling-ceramic-logo.png', class: 'img-responsive', id: 'cs-logo' %>
      </div>
      <div class="col-sm-8 col-md-5">
        
        <p>Can your Corimas possibly go faster? Attain higher speeds with less effort with CyclingCeramic bearings for your Corima wheels.<br />
          <%= link_to 'Find out more at CyclingCeramic', 'http://www.cyclingceramic.fr' %></p>
      </div>
    </div>
  </div>
</section>