//fonts
$roboto:'Roboto Condensed', sans-serif;

//Grid
$grid-gutter-width:20px;

//Grid breakout
$grid-float-breakpoint:992px;

$navbar-height:85px;
// $navbar-default-bg:rgba(255,255,255,0);
$navbar-default-bg:rgba(0,0,0,.9);
$nav-link-padding:30px 40px;
$navbar-default-link-color:#c3c3c3;
$navbar-border-radius:0px;

* {
  font-family: $roboto;
  font-weight:100;
}