@import 'bs-overrides';

$rand_num:random(500);

//HOME
#home-main {
  padding:60px 20px;
  min-height:600px;
  background-image:url(luxe_1_IMG_0951.jpg);
  background-repeat:no-repeat;
  background-size:cover;
  background-position-y:57%;
  
  h1 {
    font-family:$roboto;
    font-weight:100;
    font-size:140%;
    text-align:left;   
  }
}

#home-wheels {
  min-height:400px;
  background-size:180%;
  background-repeat:no-repeat;
  text-align:center;
  img {
    margin-top:20px;
    border-bottom:1px solid black;
  }

}

//WHEEL SHOW
#wheel-show-images {
  background-repeat:no-repeat;
  background-size:500%;
  background-position-y:0%;
  img {
    //border-radius:10px;
    // background-color:rgba(255,255,255,.9);
    //border:1px solid rgba(155,155,155,.8);
    margin:10px 10px 10px 0;
    // box-shadow:1px 1px 6px rgba(0,0,0,.1);
  }
}

//L2-Wheels
#l2-wheels {
    background-repeat:no-repeat;
    background-position-y:36%;

}
