@import 'bs-overrides';

$rand_num:random(500);

//HOME
#home-main {
  padding:60px 20px;
  min-height:500px;
  
  background-repeat:no-repeat;
  background-size:205%;
  background-position-y:57%;
  
  h1 {
    font-family:$roboto;
    font-weight:100;
    text-align:center;   
  }
}

//WHEEL SHOW
#wheel-show-images {
  background-repeat:no-repeat;
  background-size:205%;
  background-position-y:57%;
  img {
    background-color:rgba(255,255,255,.9);
    border:1px solid rgba(200,200,200,.8);
    margin:10px 10px 25px 0;
  }
}
