@import 'bs-overrides.css.scss';

/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) { 
  #home-main {
    position:relative;
    h1 {
      position:absolute;
      left:65%;
      top:350px;
    }
  }
  #home-wheels {
    background-size:100%;
    h2 {
      margin-top:1em;
    }
  }

  footer {
    min-height:200px;
    margin-top:20px;
  }
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
  //HOME
  #home-main {
    background-size:100%;
    background-position-y:57%;
  }

  //Wheel show
  #wheel-show-images {
    background-size:100%;
    background-position-y:100px;
  }
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

//Wheel show
  #wheel-show-images {
    background-size:100%;
    background-position-y:75px;
  }
}