@import 'bs-overrides.css.scss';

/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) { 
  #home-main {
    position:relative;
    h1 {
      position:absolute;
      left:65%;
      top:350px;
    }
  }
  #home-wheels {
    background-size:100%;
    h2 {
      margin-top:1em;
    }
  }

  #dealers {
    background-size:70%;
    background-position-x:620px;
    background-position-y:50%;
  }

  #ceramic-speed {

    #cs-logo {
      margin:40px 0px 10px 0px;
    }
    #cs-product {
      border-bottom:1px solid rgba(255,255,255,0);


    }
  }

#skewers {
  h2 {
    margin-top:70px;
  }
  background-color:rgba(100,100,100,.1);
  padding:10px 10px 30px 10px;
}


  

  footer {
    min-height:200px;
    margin-top:20px;
  }
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
  //HOME
  #home-main {
    background-size:100%;
    background-position-y:57%;
  }

  //Wheel show
  #wheel-show-images {
    background-size:100%;
    background-position-y:200px;
  }

  //Wheel INDEX
  .wheel-index {  
    img {
      border:10px solid rgba(200,200,200,.2);
    }
  }
  #dealers {
    background-size:40%;
    background-position-x:135%;
    background-position-y:50%;
    padding-bottom:200px;
  }

  #ceramic-speed {
    #cs-logo {
      margin:40px 0px 10px 0px;
    }
  }

  #cs-product {
    border-bottom:1px solid rgba(255,255,255,0);
    position:relative;
    display:block;
    bottom:0px;
  }

}


/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

//Wheel show
  #wheel-show-images {
    background-size:100%;
    background-position-y:250px;
  }6
    #ceramic-speed {

    #cs-logo {
      margin:50px 0px 10px 0px;
    }
  }
}